<!-- Footer -->
<div class="row">
  <div class="col-lg-12">
    <ul class="list-inline text-center" style="margin-top:10px;">
      <li>
        <a href="https://www.facebook.com/courtmetrue.ph" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook fa-3x"></i></a>
      </li>
      <li>
        <a href="https://www.tumblr.com/blog/courtmetrue" class="btn-social btn-outline"><i class="fa fa-tumblr fa-3x"></i></a>
      </li>
      <li>
        <a href="https://twitter.com/CourtMeTrue" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter fa-3x"></i></a>
      </li>
      <li>
        <a href="https://www.instagram.com/courtmetrue/" class="btn-social btn-outline"><i class="fa fa-instagram fa-3x"></i></a>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 text-center small">
      Courtmetrue.com &copy; 2015
  </div>
</div>
